{% extends 'base.html' %} 
{% block content %}
<main class="container">
  <div class="row">
    <div class="col-md-4 offset-md-4 mt-5">
      <form
        action="/signin"
        method="POST"
        class="card card-body bg-transparent"
        style="--bs-bg-opacity: 0.5"
      >
        {% csrf_token %}
        <div class="alert alert-danger">{{error}}</div>
        <h1>Sign In</h1>
        <div class="mb-3">
          <label for="username" class="form-label">Username</label>
          <input
            type="text"
            name="username"
            id="username"
            class="form-control"
            placeholder="Enter username"
            required
          />
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input
            type="password"
            name="password"
            id="password"
            class="form-control"
            placeholder="Enter password"
            required
          />
        </div>
        <button>Signin</button>
      </form>
      {% endblock %}
    </div>
  </div>
</main>
