{% extends 'base.html' %}
{% load socialaccount %} 
{% block content %}
<main class="container">
  <div class="row">
    <div class="col-md-4 offset-md-4 mt-5">
      <form
        action="/signin"
        method="POST"
        class="card card-body bg-transparent"
        style="--bs-bg-opacity: 0.5"
      >
        {% csrf_token %}
        {% if error %}
        <div class="alert alert-danger">{{error}}</div>
        {% endif %}
        <h1>Sign In</h1>
        <div class="mb-3">
          <label for="username" class="form-label">Username</label>
          <input
            type="text"
            name="username"
            id="username"
            class="form-control"
            placeholder="Enter username"
            required
          />
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input
            type="password"
            name="password"
            id="password"
            class="form-control"
            placeholder="Enter password"
            required
          />
        </div>
        <button class='btn btn-primary'>Sign In</button>
                <div class="or-container" style="
                align-items: center;
                color: #000;
                display: flex;
                margin: 25px 0;"><div class="line-separator" style="
                background-color: #000;
                flex-grow: 5;
                height: 1px;"></div> <div class="or-label" style="
                flex-grow: 1;
                margin: 0 15px;
                text-align: center;">or</div><div class="line-separator" style="
                background-color: #000;
                flex-grow: 5;
                height: 1px;"></div></div>
                
                <a class="btn btn-outline-secondary btn-google btn-block fs-6 text-black"><img src="https://img.icons8.com/color/16/000000/google-logo.png"> Sign In With Google</a>
      </form>
      {% endblock %}
    </div>
  </div>
</main>
