{% extends 'base.html' %}

{% block content %}
<main class='container'>
    <div class='row'>
    <div class='col-md-4 offset-md-4 mt-5'>
       
    <form method='POST' class='card card-body bg-transparent'>
        {% csrf_token %}
        <h1 class='text-secondary'>{{task.title}}</h1>
        {{error}}
        {{form.as_p}}
        <div class='d-flex p-2'>
            <button class='btn btn-primary'>
                Update
            </button>
            <form action="{% url 'complete_task' task.id %}" method='POST'>
                {% csrf_token %}
                <button class='btn btn-success'>
                    Complete
                </button>    
            </form>
            <form action="{% url 'delete_task' task.id %}" method='POST'>
                {% csrf_token %}
                <button class='btn btn-danger'>
                    Delete
                </button>  
            </form>
        </div>
        
    </form> 
    
    </div>
    </div>
</main>
{% endblock %}